calibration {
    filepath = "/home/aaron/bolt/abolt/config/kinect_calib.config";
}

training {
    color_data = "/home/aaron/bolt/abolt/java/dat/color_features.dat";
    shape_data = "/home/aaron/bolt/abolt/java/dat/shape_features.dat";
    size_data = "/home/aaron/bolt/abolt/java/dat/size_features.dat";
}
