calibration {
    filepath = "/home/aaron/bolt/abolt/config/kinect_calib.config";
}

training {
    color_data = "/home/aaron/bolt/abolt/java/dat/color_features.dat";
    shape_data = "/home/aaron/bolt/abolt/java/dat/shape_features.dat";
    size_data = "/home/aaron/bolt/abolt/java/dat/size_features.dat";
}

arm {
    device = "/dev/ttyUSB0";    // Default device location

    arm_version = "big_arm";
    //arm_version = "small_arm";

    // Big arm parameters
    big_arm {
        calib_offset = 0.0525;
        base_height = 0.052;
	wrist_height = .6;

        r# {
            range = [-180, 180];    // [deg]
            length = 0.051;         // [m]
            axis = "Z";

            speed = 0.2;
            torque = 0.8;
            pid = [10, 4, 2];
            
            width = 0.065;
        }
        r# {
            range = [-110, 110];
            length = 0.225;
            axis = "Y";

            speed = 0.075;
            torque = 0.9;
            pid = [18, 6, 3];
            
            width = 0.065;
        }
        r# {
            range = [-140, 140];
            length = 0.2000;
            axis = "Y";

            speed = 0.10;
            torque = 0.85;
            pid = [16, 5, 2];
            
            width = 0.065;
        }
        r# {
            range = [-125, 125];
            length = 0.08;
            axis = "Y";

            speed = 0.125;
            torque = 0.7;
            pid = [1, 3, 10];   // XXX MX-28 PIDs are currently backwards
            
            width = 0.04;
        }
        r# {
            range = [-150, 150];
            length = 0.0;
            axis = "Z";

            speed = 0.25;
            torque = 0.6;
            
            width = 0.03;
        }
        // XXX Hand joint currently independently hard-coded
    }

    // Small arm parameters
    small_arm {
        calib_offset = 0.061;
        base_height = 0.075;
	wrist_height = .38;

        r# {
            range = [-180, 180];
            length = 0.04;
            axis = "Z";

            speed = 0.25;
            torque = 0.9;
            pid = [1, 2, 16];   // XXX MX-28 PIDs are currently backwards
            
            width = 0.065;
        }
        r# {
            range = [-120, 120];
            length = 0.10;
            axis = "Y";

            speed = 0.25;
            torque = 0.9;
            pid = [1, 4, 24];   // XXX MX-28 PIDs are currently backwards
            
            width = 0.065;
        }
        r# {
            range = [-125, 125];
            length = 0.10;
            axis = "Y";

            speed = 0.25;
            torque = 0.9;
            pid = [1, 4, 24];   // XXX MX-28 PIDs are currently backwards
            
            width = 0.04;
        }
        r# {
            range = [-125, 125];
            length = 0.08;
            axis = "Y";

            speed = 0.25;
            torque = 0.9;
            
            width = 0.04;
        }
        r# {
            range = [-150, 150];
            length = 0.0;
            axis = "Z";

            speed = 0.25;
            torque = 0.9;
            
            width = 0.06;
        }
        // XXX Hand joint currently hardcoded
    }
}
